<%- include("./header.html") %>
<!-- 样式 -->
<link rel="stylesheet" href="/css/addSystem.css">
<div class="addSystem" id="addSystem">
    <div class="title">
        <h1>添加应用</h1>
    </div>
    <div class="main">
        <h1 class="h1">信息录入</h1>
        <div class="block">
            <div class="item">
                <span class="left">应用名称：</span>
                <input type="text" placeholder="我的博客">
            </div>
            <div class="item">
                <span class="left">应用域名：</span>
                <input type="text" placeholder="http://seosiwei.com/">
            </div>
            <button class="button left-botton">保存</button>
        </div>
        <h1 class="h1">资源阀值配置</h1>
        <div class="block">
            <div class="item">
                <span class="left">页面慢加载阀值：</span>
                <input type="text" placeholder="默认8s">
            </div>
            <div class="item">
                <span class="left">JS慢加载阀值：</span>
                <input type="text" placeholder="默认2s">
            </div>
            <div class="item">
                <span class="left">CSS慢加载阀值：</span>
                <input type="text" placeholder="默认1s">
            </div>
            <div class="item">
                <span class="left">IMG慢加载阀值：</span>
                <input type="text" placeholder="默认2s">
            </div>
            <button class="button left-botton">保存</button>
        </div>
        <h1 class="h1">部署说明</h1>
        <div class="block">
            <p>输入应用名称后，复制生成的代码，将其粘贴在<code>&lt;head&gt;</code>中。</p>
            <p class="notice">注意：需要将代码粘贴在<code>&lt;meta&gt;</code>后面，所有<code>&lt;script&gt;</code>前面。</p>
        </div>
        <h1 class="h1">获取代码</h1>
        <div class="block">
            <button class="button">获取代码</button>
            <textarea> INSERT INTO user (name,email) VALUES ('zane','752636052@qq.com')  node-transform-mysql.js:293 UPDATE user SET name='zane',email='752636052@qq.com'
            </textarea>
        </div>
        <div class="goback">
            <button onclick="util.goBack()" class="button">返回应用列表</button>
        </div>
    </div>
</div>
<%- include("./footer.html") %>
<script src="/js/view-addSystem.js"></script>