<%- include("./header.html") %>
<!-- 样式 -->
<link rel="stylesheet" href="/css/addSystem.css">
<div class="addSystem" id="addSystem">
    <div class="title">
        <h1>添加应用</h1>
    </div>
    <div class="main">
        <h1 class="h1">信息录入</h1>
        <div class="block">
            <div class="item">
                <span class="left">应用名称：</span>
                <input type="text" v-model.trim="systemName" placeholder="我的博客">
            </div>
            <div class="item">
                <span class="left">应用域名：</span>
                <input type="text" v-model.trim="systemDomain" placeholder="http://seosiwei.com/">
            </div>
            <div class="item">
                <span class="left">页面慢加载阀值：</span>
                <input type="text" v-model.trim="slowPageTime" placeholder="默认8s">
            </div>
            <div class="item">
                <span class="left">JS慢加载阀值：</span>
                <input type="text" v-model.trim="slowJsTime" placeholder="默认2s">
            </div>
            <div class="item">
                <span class="left">CSS慢加载阀值：</span>
                <input type="text" v-model.trim="slowCssTime" placeholder="默认1s">
            </div>
            <div class="item">
                <span class="left">IMG慢加载阀值：</span>
                <input type="text" v-model.trim="slowImgTime" placeholder="默认2s">
            </div>
            <button class="button left-botton" @click="addSystem">保存</button>
        </div>
        <h1 class="h1">部署说明</h1>
        <div class="block">
            <p>输入应用名称后，复制生成的代码，将其粘贴在<code>&lt;head&gt;</code>中。</p>
            <p class="notice">注意：需要将代码粘贴在<code>&lt;meta&gt;</code>后面，所有<code>&lt;script&gt;</code>前面。</p>
        </div>
        <h1 class="h1">获取代码</h1>
        <div class="block">
            <!-- <button class="button">获取代码</button> -->
            <div class="script-text">{{scriptstr}}</div>
        </div>
        <div class="goback">
            <button onclick="location.href='/'" class="button">返回应用列表</button>
        </div>
    </div>
</div>
<%- include("./footer.html") %>
<script src="/js/view-addSystem.js"></script>