<%- include("./header.html") %>
<%- include("./side.html") %>
<!-- 样式 -->
<link rel="stylesheet" href="/css/page.css">
<link rel="stylesheet" href="/css/ajax-detail.css">
<div class="container ajax mb150" id="pagesDetail" v-cloak>
   <div class="common-title">
        <h1 class="common-nav"><a href="/home/">首页</a>\<a href="/ajax/">列表</a>\{{pagesItemData.name}}</h1>
        <div class="search">
            <span class="reload cursor iconfont">&#xe6ea;</span>
            <div class="select">
                <span class="times"><span class="iconfont">&#xe675;</span>最近<span class="times_text">30分钟</span><span class="iconfont">&#xe698;</span></span>
                <div class="select-time">
                    <li class="select_time_active">30分钟</li>
                    <li>1小时</li>
                    <li>6小时</li>
                    <li>12小时</li>
                    <li>1天</li>
                    <li>3天</li>
                </div>
            </div>
        </div>
    </div>
    <div class="common_table_nav">
        <li :class="{active:table==1}" @click="changeTable(1)">性能详情</li>
        <li :class="{active:table==4}" @click="changeTable(2)">调用页面</li>
    </div>
    <!-- 页面平均耗时说明 -->
    <div class="block-time" v-show="table==1">
        <li class="li1">
            <h1>AJAX响应时间</h1>
            <h2 class="red">{{pagesItemData.duration|toFixed}}</h2>
        </li>
        <li class="li2">
            <h1>调用量</h1>
            <h2>{{pagesItemData.count}}次</h2>
        </li>
        <li class="li3">
            <h1>bodySize</h1>
            <h2>{{pagesItemData.decodedBodySize|toSize}}</h2>
        </li>
    </div>
    <!-- page详情性能列表 -->
    <div class="common-head-title" v-show="table==1">
        <h1>页面性能详情 <button class="button" @click="showCharts">charts表</button></h1> 
            <div v-show="listdata.length&&!isShowCharts">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="break-word">URL</th>
                            <th>页面加载时间</th>
                            <th>白屏时间</th>
                            <th>资源加载耗时</th>
                            <th>DOM构建时间</th>
                            <th>解析dom耗时</th>
                            <th>DNS解析时间</th>
                            <th>TCP连接时间</th>
                            <th>页面重定向时间</th>
                            <th>unload时间</th>
                            <th>request请求耗时</th>
                            <th>页面准备时间</th> 
                            <th>页面请求时间</th>
                            <th>操作</th>  
                        </tr>
                    </thead>
                    <tr v-for="(item,index) in listdata" :key="index">
                        <td ><a :href="'/pages/detail/item?id='+item.id" :title="item.url">{{item.url}}</a></td>
                        <td class="tc red">{{item.loadTime|toFixed(true)}}</td>
                        <td class="tc red">{{item.whiteTime|toFixed}}</td>
                        <td class="tc red"><a :href="'/pages/detail/item?id='+item.id">{{item.resourceTime|toFixed(true)}}</a></td>
                        <td class="tc red">{{item.domTime|toFixed(true)}}</td>
                        <td class="tc">{{item.analysisDomTime|toFixed(true)}}</td>
                        <td class="tc">{{item.dnsTime|toFixed}}</td>
                        <td class="tc">{{item.tcpTime|toFixed}}</td>
                        <td class="tc">{{item.redirectTime|toFixed}}</td>
                        <td class="tc">{{item.unloadTime|toFixed}}</td>
                        <td class="tc">{{item.requestTime|toFixed}}</td>
                        <td class="tc">{{item.readyTime|toFixed}}</td>
                        <td class="tc">{{item.dateTime}}</td>
                        <td class="tc"><a :href="'/pages/detail/item?id='+item.id">详情</a></td>
                    </tr>
                </table>
                <!--  分页 -->
                <div class="tc common_page_style">
                    <div id="copot-page-pages" class="copot-page"></div>
                </div>
            </div>
            <div v-show="!listdata.length&&!isLoadEnd" class="loading-block"></div>
            <div v-show="!listdata.length&&isLoadEnd" class="common-no-data">暂无数据!</div>
        <div id="charts-pages" v-show="isShowCharts" class="charts-pages"></div>
    </div>
</div>
<script src="/js/Page.js"></script>
<script src="/js/view-ajax-detail.js"></script>
