<%- include("./header.html") %>
<%- include("./side.html") %>
<!-- 样式 -->
<link rel="stylesheet" href="/css/page.css">
<link rel="stylesheet" href="/css/error.css">
<div class="container ajax" id="ajax" v-cloak>
   <div class="common-title">
        <h1 class="common-nav"><a href="/home/">首页</a>/<a href="/error/">列表</a>/详情列表</h1>
        <commonsearch :done="getinit"></commonsearch>
    </div>
    <div class="table-box common_page_style">
        <div v-if="listdata.length">
            <table class="table">
                <thead>
                    <tr>
                        <th class="w-200">错误资源</th>
                        <th>错误信息</th>
                        <th>错误类型</th>
                        <th>所属URL</th>
                        <th v-if="category=='resource'">错误资源</th>
                        <th v-if="category=='resource'">错误类型</th>
                        <th v-if="category=='ajax'">状态码</th>
                        <th v-if="category=='ajax'">类型详情</th>
                        <th v-if="category=='js'">错误行</th>
                        <th v-if="category=='js'">错误列</th>
                        <th>请求方式</th>
                        <th>请求参数</th>
                        <th>错误时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tr v-for="(item,index) in listdata" :key="index">
                    <td><a href="javascript:" @click="gotodetail(item)">{{item.resourceUrl}}</a></td>
                    <td class="red">{{item.msg}}</td>
                    <td class="tc">{{item.category}}</td>
                    <td class="tc">{{item.pageUrl}}</td>
                    <td class="tc" v-if="item.category=='resource'">{{item.target}}</td>
                    <td class="tc" v-if="item.category=='resource'">{{item.type}}</td>
                    <td class="tc" v-if="item.category=='ajax'">{{item.status}}</td>
                    <td class="tc" v-if="item.category=='ajax'">{{item.text}}</td>
                    <td class="tc" v-if="item.category=='js'">{{item.line}}</td>
                    <td class="tc" v-if="item.category=='js'">{{item.col}}</td>
                    <td class="tc">{{item.method}}</td>
                    <td class="tc">{{item.querydata}}</td>
                    <td class="tc">{{item.createTime|date('/',true)}}</td>
                    <td class="tc"><a href="javascript:" @click="gotodetail(item)">查看详情</a></td> 
                </tr>
            </table>
        </div>
        <div v-if="!isLoadend" class="loading-block"></div>
    </div>
    <!--  分页 -->
    <div class="tc common_page_style" v-show="isLoadend&&listdata.length">
        <div id="copot-page" class="copot-page"></div>
    </div>
    <!-- 暂无数据 -->
    <div class="tc" v-if="!listdata.length">暂无数据!</div>
</div>
<script src="/js/Page.js"></script>
<script src="/js/view-error-detail.js"></script>
