<div class="side">
	<div class="top">
        <span class="text fl">启明星分销项目</span> 
        <span class="iconfont fl ml10">&#xe60e;</span>
    </div>
    <div class="side-main">
        <ul>
            <li class="active">
                <a href=""><span class="iconfont">&#xe60f;</span> <span>仪表盘</span></a>
            </li>
            <li>
                <a href=""><span class="iconfont">&#xe6e9;</span> <span>访问页面</span></a>
            </li>
            <li>
                <a href=""><span class="iconfont">&#xe7bd;</span> <span>脚本错误</span></a>
            </li>
            <li>
                <a href=""><span class="iconfont">&#xe7bf;</span> <span>AJAX性能</span></a>
            </li>
            <li>
                <a href=""><span class="iconfont">&#xe642;</span> <span>慢加载追踪</span></a>
            </li>
            <li>
                <a href=""><span class="iconfont">&#xe71b;</span> <span>组合分析</span></a>
            </li>
            <li>
                <a href=""><span class="iconfont">&#xe63c;</span> <span>系统设置</span></a>
            </li>
            <li>
                <a href=""><span class="iconfont">&#xe666;</span> <span>性能报表</span></a>
            </li>
        </ul>
    </div>
</div>

