<div class="side">
	<div class="top">
        <span class="text fl">启明星分销项目</span> 
        <span class="iconfont fl ml10">&#xe614;</span>
    </div>
    <div class="side-main">
        <ul id="side-main-nav">
            <!-- <li class="active">
                <a href=""><span class="iconfont">&#xe60f;</span> <span>仪表盘</span></a>
            </li> -->
            <li data-mark="zane">
                <a href="/pages?type=zane"><img src="/images/common/icon-1.png"> <span>访问页面</span></a>
            </li>
            <li data-mark="error">
                <a href="/error"><img src="/images/common/icon-1.png"> <span>脚本错误</span></a>
            </li>
            <li data-mark="ajax">
                <a href="/ajax"><img src="/images/common/icon-1.png"> <span>AJAX性能</span></a>
            </li>
            <li data-mark="slow">
                <a href="/pages?type=slow"><img src="/images/common/icon-1.png"> <span>慢页面追踪</span></a>
            </li>
            <li data-mark="slowresources">
                <a href="/slowresources"><img src="/images/common/icon-1.png"> <span>慢资源追踪</span></a>
            </li>
            <li data-mark="httptest">
                <a href="/httptest"><img src="/images/common/icon-1.png"> <span>接口性能测试</span></a>
            </li>
            <li data-mark="webpagetest">
                <a href="/webpagetest"><img src="/images/common/icon-1.png"> <span>页面性能测评</span></a>
            </li>
            <li data-mark="setting">
                <a href="/setting"><img src="/images/common/icon-1.png"> <span>系统设置</span></a>
            </li>
        </ul>
    </div>
</div>

<script type="text/javascript">
    var href = location.href;
    var liobjs = $('#side-main-nav').find('li')
    for(var i=0,len=liobjs.length;i<len;i++){
        var attrr = $(liobjs[i]).attr('data-mark')
        if(href.indexOf(attrr)!= -1){
            liobjs.removeClass('active')
            $(liobjs[i]).addClass('active')
        }
    }
</script>



