<!DOCTYPE html>
<html>
    <head>
        <title><%= datas.title %></title>
        <meta name="baidu-site-verification" content="MHHnqSmeTw" />
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="icon" href="/images/common/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/PopLayer.css">
        <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js"></script>
        <!--replace:main.js-->
        <script src="/js/PopLayer.js"></script>
        <script src="/js/config.js"></script>
        <script src="/js/util.js"></script>
        <script src="/js/md5.js"></script>
        <script src="/js/common.js"></script>
        <!--endreplace-->
    </head>
    <body id="body">
        <%- body %>
    </body>
</html>