<!DOCTYPE html>
<html>
    <head>
        <title><%= datas.title %></title>
        <meta name="baidu-site-verification" content="MHHnqSmeTw" />
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="icon" href="/images/common/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/PopLayer.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.0/vue.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.0.0/echarts.min.js"></script>
        <!--replace:main.js-->
        <script src="/js/PopLayer.js"></script>
        <script src="/js/config.js"></script>
        <script src="/js/util.js"></script>
        <script src="/js/md5.js"></script>
        <script src="/js/vue-filters.js"></script>
        <script src="/js/vue-components.js"></script>
    </head>
    <body id="body">
        <%- body %>
    </body>
</html>