@charset "UTF-8";
/*回到顶部CSS*/
#hddb {
  width: 40px;
  height: 40px;
  background: url(/images/common/totop.png) no-repeat left top;
  background-size: 100% 100%;
  position: fixed;
  right: 10px;
  bottom: 50px;
  display: none;
  cursor: pointer;
  z-index: 100; }

.header {
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-bottom: solid 1px #ddd;
  overflow: hidden;
  padding: 0 20px;
  position: fixed;
  left: 0;
  top: 0;
  background: #273547;
  z-index: 100000; }
  .header .left img {
    height: 50px;
    cursor: pointer;
    margin-top: 5px; }
  .header .right li {
    display: inline-block;
    height: 15px;
    line-height: 15px;
    margin-top: 10px;
    padding: 0 20px;
    border-right: solid 1px #eee;
    cursor: pointer;
    color: #fff; }
    .header .right li:last-child {
      border-right: none; }

.side {
  width: 220px;
  background: #f9f9f9;
  height: 100%;
  position: fixed;
  left: 0;
  top: 60px;
  z-index: 101; }
  .side .top {
    height: 50px;
    background: #447ED9;
    color: #fff;
    line-height: 50px;
    padding-left: 30px;
    border-right: solid 1px #447ED9; }
    .side .top .iconfont {
      font-size: 25px;
      color: #fff;
      line-height: 45px;
      cursor: pointer; }
  .side .side-main {
    border-right: solid 1px #eee; }
    .side .side-main li {
      height: 50px;
      line-height: 50px;
      font-size: 16px; }
      .side .side-main li img {
        display: inline-block;
        width: 18px;
        height: 18px;
        float: left;
        margin: 15px 5px 0 0; }
      .side .side-main li.active a {
        color: #447ED9; }
      .side .side-main li a {
        display: block;
        width: 100%;
        height: 100%;
        padding-left: 30px;
        color: #333; }
        .side .side-main li a .iconfont {
          margin-right: 10px; }

.footer {
  padding: 10px 0;
  background: #f4f4f4;
  text-align: center;
  line-height: 20px;
  margin-top: 50px; }

.container {
  margin: 60px 0 0 220px; }

.common-padding {
  padding: 0 15px; }

.common-title {
  height: 50px;
  line-height: 50px;
  background: #fff;
  padding: 0 10px; }
  .common-title h1 {
    font-size: 14px;
    float: left;
    padding-left: 10px; }
  .common-title .search {
    float: right;
    width: 280px; }
    .common-title .search button {
      float: left;
      background: #447ED9;
      color: #fff;
      padding: 6px 10px;
      font-size: 12px;
      margin: 10px 10px 0 0; }
    .common-title .search .reload {
      float: left;
      display: inline-block;
      font-size: 18px;
      margin-right: 8px; }
    .common-title .search .select {
      float: left;
      position: relative; }
      .common-title .search .select .times {
        height: 30px;
        line-height: 30px;
        margin-top: 10px;
        display: inline-block;
        background: #f5f5f5;
        border: solid 1px #ddd; }
        .common-title .search .select .times span {
          color: #999;
          margin: 0 5px; }
      .common-title .search .select .select-time {
        width: 620px;
        display: none;
        position: absolute;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        border: 1px solid #dedede;
        right: 0;
        top: 50px;
        background: #fff;
        padding: 15px; }
        .common-title .search .select .select-time li {
          display: block;
          background: #f2f2f2;
          padding: 0 15px;
          line-height: 46px;
          font-size: 12px;
          color: #757575;
          display: inline-block;
          margin-right: 10px;
          cursor: pointer;
          border-radius: 5px; }
          .common-title .search .select .select-time li:hover {
            background: #d1e9ff; }
        .common-title .search .select .select-time .select_time_active {
          background: #458ef9;
          color: #fff; }
          .common-title .search .select .select-time .select_time_active:hover {
            background: #458ef9;
            color: #fff; }

.notice {
  margin: 20px 0;
  background: #ebf3ff;
  color: red;
  padding: 8px 0;
  padding-left: 20px; }

.common_page_style {
  margin: 15px; }

.main-block {
  overflow: hidden;
  margin: 10px; }

.common_table_nav {
  overflow: hidden;
  background: #fff;
  width: 100%;
  padding-left: 20px; }
  .common_table_nav li {
    float: left;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: #000;
    padding: 0 10px;
    margin-right: 20px;
    cursor: pointer; }
    .common_table_nav li.active {
      color: #447ED9;
      border-bottom: solid 2px #447ED9; }

.common-head-title {
  margin: 20px;
  background: #fff;
  overflow: hidden;
  padding: 0 20px; }
  .common-head-title h1 {
    font-size: 18px;
    line-height: 50px;
    margin-bottom: 10px; }
  .common-head-title .button {
    padding: 6px 10px;
    background: #447ED9;
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
    float: right;
    margin-top: 12px;
    cursor: pointer; }

.common-nav a {
  color: #333; }
