.copot{width:1000px;overflow:hidden;margin:20px auto;}
.copot-page{color:#333;font-size:12px;}
.copot-page a{color:#333;display:inline-block;padding:3px 9px;border:solid 1px #ddd;margin-right:5px;
	text-decoration:none;font-size:12px; transition: all .3s ease;}
.copot-page a:hover{background:#2077ff;color:#fff;}
.copot-page a.nowPage{background:#2077ff;border:solid 1px #2077ff;color: #fff;} 
.copot-page .page-msg {margin-left: 15px;}