.main-content {
  background: #fff;
  overflow: hidden;
  padding: 20px;
  margin: 15px; }
  .main-content .url {
    overflow: hidden; }
    .main-content .url input {
      width: 60%;
      height: 40px;
      background: #f9f9f9;
      border: solid 1px #ddd;
      padding-left: 10px; }
    .main-content .url button {
      padding: 0 20px;
      height: 40px;
      background: #2077ff;
      font-size: 14px;
      border: none;
      color: #fff;
      cursor: pointer; }
  .main-content .h1 {
    font-size: 18px;
    font-weight: bold;
    line-height: 35px;
    margin: 10px 0;
    border-bottom: solid 1px #eee; }
  .main-content .h1-1 {
    margin-top: 30px; }
  .main-content .seeting .select {
    margin-bottom: 20px; }
    .main-content .seeting .select span.s1 {
      font-size: 16px; }
    .main-content .seeting .select select {
      width: 300px;
      height: 30px;
      border: none;
      background: #fff; }
    .main-content .seeting .select span.select {
      display: inline-block;
      padding: 3px;
      border: solid 1px #ccc; }
  .main-content .tianchong .item {
    font-size: 16px;
    margin-bottom: 8px; }
    .main-content .tianchong .item input {
      height: 35px;
      width: 300px;
      padding-left: 10px;
      font-size: 13px; }

.block-time {
  margin: 20px;
  background: #fff;
  border-radius: 3px;
  padding: 30px 20px;
  display: flex;
  justify-content: center; }
  .block-time li {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .block-time li.li1 {
      margin-right: 0px;
      width: 250px; }
      .block-time li.li1 h1 {
        width: 250px;
        text-align: center; }
    .block-time li.li2 {
      margin-left: 100px;
      margin-right: 0px;
      width: 200px; }
    .block-time li.li3 {
      width: 200px; }
  .block-time h1 {
    font-size: 20px;
    color: #999;
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: solid 1px #eee; }
  .block-time h2 {
    font-size: 22px;
    color: #333; }

.sources-list {
  background: #fff;
  border-radius: 3px; }
  .sources-list .first {
    font-weight: bold;
    font-size: 15px; }
  .sources-list .h1 {
    font-size: 18px;
    border-bottom: solid 1px #eee;
    padding-bottom: 10px;
    margin-bottom: 10px; }

.loading {
  display: flex;
  align-items: center;
  margin-left: 30px; }
  .loading img {
    margin-right: 10px; }

.sources-tab {
  display: block; }
  .sources-tab ul {
    list-style: none;
    position: relative;
    height: 34px;
    z-index: 99; }
  .sources-tab li {
    float: left;
    line-height: 34px;
    font-size: 14px;
    color: #333;
    padding: 0 25px;
    overflow: hidden;
    border-left: none;
    cursor: pointer;
    background: #fff; }
    .sources-tab li.actives {
      border: 1px solid #d8d8d8;
      border-bottom: none;
      height: 35px; }

.sources-contai {
  border: 1px solid #d8d8d8;
  padding: 20px 10px; }

.sources-table {
  display: block;
  position: relative;
  min-height: 20px; }
  .sources-table .spans, .sources-table .labels, .sources-table .fonts {
    height: 20px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -10px;
    z-index: 1;
    line-height: 20px; }
  .sources-table .spans {
    background: #0074bc;
    z-index: 2; }
  .sources-table .labels {
    background: #ccc; }
  .sources-table .sourec-list {
    position: absolute;
    top: 0;
    z-index: 9999;
    height: 20px; }
    .sources-table .sourec-list:hover .source-absolute {
      display: block; }
  .sources-table .source-absolute {
    display: none;
    position: absolute;
    left: 0;
    bottom: -110px;
    width: 200px;
    border: 1px solid #ff9900;
    padding: 10px;
    z-index: 9999;
    background: #fff;
    height: 110px; }
    .sources-table .source-absolute ul {
      list-style: none;
      overflow: hidden;
      padding-bottom: 10px; }
      .sources-table .source-absolute ul li {
        display: block;
        line-height: 20px; }
        .sources-table .source-absolute ul li span {
          height: 15px;
          width: 10px;
          display: inline-block;
          margin-right: 20px;
          background: #0074bc;
          vertical-align: middle; }
          .sources-table .source-absolute ul li span.two {
            background: #ccc; }

.sources-contai .table th {
  background: #fdfdfd; }

.sources-contai .table th, .sources-contai .table td {
  word-break: break-all;
  padding: 1px 5px !important; }

.sources-contai .table td i {
  cursor: pointer; }

.sources-contai .table td .source-abso-tit {
  display: block;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 230px; }

.sources-botfont {
  display: block;
  font-size: 14px;
  line-height: 30px;
  overflow: hidden;
  background: #ccc;
  padding: 0 10px;
  font-weight: bold; }
  .sources-botfont span {
    float: left;
    margin-right: 50px; }
  .sources-botfont label {
    float: right; }

.showtr_box {
  display: block;
  padding: 10px 20px;
  background: #f3f3f3; }
  .showtr_box dl {
    position: relative; }
    .showtr_box dl dt {
      line-height: 20px;
      font-size: 12px;
      color: #666;
      border-bottom: 1px solid #ddd;
      padding-bottom: 5px;
      font-weight: bold;
      margin-bottom: 10px; }
    .showtr_box dl dd {
      display: block; }
      .showtr_box dl dd p {
        position: relative;
        line-height: 20px;
        font-size: 12px; }
        .showtr_box dl dd p span {
          font-weight: bold;
          font-size: 12px;
          display: inline-block;
          margin-right: 10px;
          width: 300px;
          text-align: right; }

.slide-fade-enter-active {
  transition: all .3s ease; }

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1); }

.slide-fade-enter, .slide-fade-leave-to {
  opacity: 0; }
