.border-right{
    border-right: solid 1px #eee;
}
.break-word{
    width:150px;
    span{
        display:block;
        width:150px;
        word-wrap:break-word;
        overflow:hidden;
    }
}
.block-time{
    margin:20px;
    background:#fff;
    border-radius:3px;
    padding:30px 20px;
    display:flex;
    justify-content:center;
    li{
        display:flex;
        flex-direction: column;
        align-items:center;
        &.li1{
            margin-right:100px;
            width:250px;
            h1{
                width:250px;
                text-align:center;
            }
        }
        &.li2{
            margin-right:50px;
            width:100px;
        }
        &.li3{
            width:100px;
        }
    }
    h1{
        font-size:20px;
        color:#999;
        margin-bottom:8px;
        padding-bottom:8px;
        border-bottom:solid 1px #eee;
    }
    h2{
        font-size:22px;
        color:#333;
    }
}
.charts{
    background:#fff;
    padding:20px;
    margin:20px;
    h1{
        font-size:18px;

    }
}
.charts-pages{
    width:100%;
    height:250px;
}










