/*回到顶部CSS*/
#hddb {
   width:40px;
   height:40px;
   background:url(/images/common/totop.png) no-repeat left top;
   background-size:100% 100%;
   position: fixed;
   right:10px;
   bottom:50px;
   display:none;
   cursor: pointer;
   z-index:100;
}

.header{
    width:100%;
    height:60px;
    line-height:60px;
    border-bottom:solid 1px #ddd;
    overflow:hidden;
    padding:0 20px;
    position:fixed;
    left:0;
    top:0;
    background:#273547;
    z-index:100;
    .left{
        img{
            height:50px;
            cursor:pointer;
            margin-top:5px;
        }
    }
    .right{
        li{
            display:inline-block;
            height:15px;
            line-height:15px;
            margin-top:10px;
            padding:0 20px;
            border-right:solid 1px #eee;
            cursor:pointer;
            color:#fff;
            &:last-child{
                border-right:none;
            }
        }
    }
}

.side{
    width:220px;
    background:#f9f9f9;
    height:100%;
    position:fixed;
    left:0;
    top:60px;
    z-index:101;

    .top{
        height:50px;
        background:#447ED9;
        color:#fff;
        line-height:50px;
        padding-left:30px;
        border-right:solid 1px #447ED9;
        .iconfont{
            font-size:25px;
            color:#fff;
            line-height:45px;
            cursor:pointer;
        }
    }
    .side-main{
        border-right:solid 1px #eee;
        li{
            height:50px;
            line-height:50px;
            &.active{
                a{
                   color:#447ED9; 
                }
                
            }
            a{
                display:block;
                width:100%;
                height:100%;
                padding-left:30px;
                .iconfont{
                    margin-right:10px;
                }
            }
        }
    }
}

.footer{
    padding:10px 0;
    background:#f4f4f4;
    text-align:center;
    line-height:20px;
    margin-top:50px;
}

.container{
    margin:60px 0 0 220px;
    padding:0 0 0 10px;
}
.common-title{
    height:50px;
    line-height:50px;
    border-bottom:solid 1px #eee;
    margin-bottom:20px;
    h1{
        font-size:18px;
        float:left;
        padding-left:30px;
    }
    .search{
        float:right;
        width:280px;
        button{
            float:left;
            background:#447ED9;
            color:#fff;
            padding:6px 10px;
            font-size:12px;
            margin:10px 10px 0 0;
        }
        .reload{
            float:left;
            display:inline-block;
            font-size:18px;
            margin-right:8px;
        }
        .select{
            float:left;
            position:relative;
            .times{
                height:30px;
                line-height:30px;
                margin-top:10px;
                display:inline-block;
                background:#f5f5f5;
                border:solid 1px #ddd;
                span{
                    color:#999;
                    margin:0 5px;
                }
            }
            .select-time{
                width: 620px;
                display: none;
                position: absolute;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
                border: 1px solid #dedede;
                right: 0;
                top: 50px;
                background: #fff;
                padding:15px;
                li {
                    display: block;
                    background:#f2f2f2;
                    padding:0 15px;
                    line-height: 46px;
                    font-size: 12px;
                    color: #757575; 
                    display: inline-block;
                    margin-right: 10px;
                    cursor:pointer;
                    border-radius: 5px;
                    &:hover {
                        background:#d1e9ff;
                    }
                }
                .select_time_active {
                    background: #458ef9;
                    color: #fff;
                    &:hover {
                        background: #458ef9;
                        color: #fff;
                    }
                }
            }
        }
    }
}

