.setting-body{
    margin:15px;
    background:#fff;
    padding:20px;
    .inp-text{
        position:relative;
        border:solid 1px #ddd;
        height:42px;
        .input{
            float:left;
            height:40px;
            border:none;
            border-radius:0;
            background:#fff;
            display:inline-block;
        }
        select.input{
            width:80px;
        }
        input.input{
            border-left:solid 1px #ddd;
            padding-left:20px;
            width:80%;
            position:absolute;
            left:80px;
            top:0;
        }
        button.input{
            position:absolute;
            right:-1px;
            top:-2px;
            height:44px;
            border-left:solid 1px #ddd;
            padding:0 30px;
            background:#2077ff;
            color:#fff;
            font-size:16px;
            cursor:pointer;
        }
    }
    .switchTable{
        margin-top:30px;
        .h1{
            font-size:20px;
            font-weight:bold;
            margin-bottom:20px;
        }
        .nav{
            height:40px;
            line-height:40px;
            position:relative;
            left:0;
            top:0;
            z-index:100;
            margin-bottom:-1px;
            li{
                display:inline-block;
                height:40px;
                padding:0 20px;
                cursor:pointer;
                &.active{
                    border:solid 1px #ddd;
                    border-bottom:solid 1px #fff;
                }
            }
            select{
                height:40px;
                border:none;
                background:transparent;
                width:120px;
            }
            div.loading{
                margin-right:100px;
                font-size:16px;
                img{
                    float:left;
                    margin-top:3px;
                    margin-right:10px;
                }
            }
        }
        .content{
            .totaltime{
                font-size:18px;
                margin:20px 0;
            }
            .textarea{
                display:block;
                width:100%;
                min-height:150px;
                border:solid 1px #ddd;
                padding:10px;
            }
        }
    }
   
}






