.container{
    margin-left:0;
    padding:0;
}
.index{
    .list{
        overflow:hidden;
        margin:0 20px;
        margin-bottom:200px;
        .table{
            .body{
                text-align:center;
                .active{
                    color:#999;
                    cursor:pointer;
                    font-size:12px;
                }
                .yingyong{
                    font-size:14px;
                    margin-right:2px;
                }
            }
        }
    }
}
