.container{
    margin-left:0;
    padding:0;
}
.system{
    width:100%;
    overflow:hidden;
    .list{
        overflow:hidden;
        margin-top:20px;
        width:100%;
        padding:0 20px;
        .table{
            .body{
                text-align:center;
                .active{
                    color:#999;
                    cursor:pointer;
                    font-size:12px;
                }
                .yingyong{
                    font-size:14px;
                    margin-right:2px;
                }
            }
        }
    }
}
