html{
    display:flex;
    justify-content:center;
    align-items:center;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background: #BAA1FF linear-gradient(to right, #BAA1FF, #7988FA)!important;
}
.main{
        width:450px;
        height:450px;
        background:#fff;
        .top{
            width:100%;
            height:120px;
            position:relative;
            display:flex;
            justify-content:center;
            align-items:center;
            .img1{
               width:220px;
               height:60px; 
            }
        }
        .center{
            overflow:hidden;
            margin-top:10px;
            .block{
                height:48px;
                margin-bottom:16px;
                display:flex;
                align-items:center;
                margin-left:80px;
                img{
                    width:30px;
                    height:30px;
                    margin-right:15px;
                }
                input{
                    height:48px;
                    width:250px;
                    padding-left:10px;
                    background:#FBFBFB;
                    border:none;
                }
                a{
                    color:#F97000;
                }
                .iconfont{
                    color:#7988FA;
                    font-size:23px;
                    margin-right:10px;
                }
            }
            .submit{
                display:flex;
                height:45px;
                justify-content:center;
            }
            .button{
                width:250px;
                height:45px;
                background: #BAA1FF linear-gradient(to right, #BAA1FF, #7988FA)!important;
                color:#fff;
                font-size:16px;
                border-radius:5px;
                cursor:pointer;
            }
        }
    }